@inherits LayoutComponentBase

<PageTitle>SelfAID</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <SelfAIDWebClient.Pages.LoginLogoutButton />
            <div class="login-container">
                <AuthorizeView>
                    <Authorized>
                        <p class="login-info" style="color: #E0768F">Jesteś zalogowany jako @context.User.Identity.Name</p>
                    </Authorized>
                </AuthorizeView>
            </div>
            <image src="selfaidicon1.png" alt="Selfaid" width="auto" height="45" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
