@page "/"

<PageTitle>SelfAID</PageTitle>

<div class="admin-panel-header">
    <h1>Panel Administratora SelfAID</h1>
</div>

<div class="admin-panel-description">
    <p>
        Witaj w panelu administratora aplikacji mobilnej <strong>SelfAID</strong>. Ten panel umożliwia zarządzanie emocjami, 
        które są dostępne w aplikacji mobilnej. Zarządzanie emocjami wymaga zalogowania 
        i jest zarezerwowane wyłącznie dla administratorów.
    </p>
    <p class="author-info">
        Projekt stworzony przez Maję Nagarnowicz, studentkę Wydziału Elektrycznego Politechniki Warszawskiej.
    </p>
    <div class="logo-container">
        <img src="selfaidbig.png" alt="Logo SelfAID" class="logo" />
    </div>
</div>
