@page "/login"
@inject IJSRuntime JSRuntime
@namespace SelfAID.WebClient.Pages

<style>
    .form-group {
        margin-bottom: 15px;
    }

    .form-group label,
    .form-group input {
        display: block;
        width: 100%;
    }

    .form-container {
        max-width: 600px;
        margin: auto;
    }

    .login-button {
        background-color: #E0768F;
        color: white;
        border: none;
        padding: 10px 15px;
        margin-top: 15px;
        cursor: pointer;
        float: left;
    }

    .google-login-button {
        background-color: #4285F4;
        color: white;
        border: none;
        padding: 10px 15px;
        margin-top: 15px;
        cursor: pointer;
        float: right;
    }
</style>

<h3>Zaloguj się</h3>
<br />

<div class="form-container">
    <EditForm Model="@user" OnSubmit="@HandleLogin">
        <div class="form-group">
            <label for="username">Nazwa użytkownika</label>
            <InputText id="username" @bind-Value="user.Username" />
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <InputText id="password" @bind-Value="user.Password" type="password" />
        </div>
        <button type="submit" class="login-button">Zaloguj</button>
        <button type="button" class="google-login-button"
            @onclick="@(() => JSRuntime.InvokeVoidAsync("redirectToGoogleLogin"))">
            Zaloguj z Google
        </button>


        <br \>
        <p style="color: red">@Message</p>
    </EditForm>
</div>